<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/home.css">
  <title>Document</title>
</head>
<body>
  <header><h1> Todo App </h1></header>
  <div class="container">
    <div class="form-container">
      <form action="/create-task" method="POST" id="add-task">
        <h2>Plan your day</h2>
        <label for="description"> Add description</label>
         <input type="text" name="description" required id="description"placeholder="what are your plans today?">
         <label for="data">Set Date</label>
         <input type="date" name="date" required >
         <label for="category">Select a Category</label>
         <select name="categories" id="category">
          <option value="personal">Personal</option>
          <option value="work">Work</option>
          <option value="college">College</option>
          <option value="cleaning">Cleaning</option>
          <option value="others">Others</option>
        </select>
        <div>
          <button type="submit" id= "button">Add Task</button>
        </div>
      </form>
    </div>
    <form method="GET" action="/delete-contact" >
      <div class="task">
        <input type="checkbox" name ="task">
         </input>
        <h3>category</h3>
        <p>description</p>
        <h4>Deadline</h4>
      </div>
  

      <button type="submit" id="delete">Delete Tasks</button>
    </div>
  </div>
</body>
</html>