@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,400&display=swap');
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}
header{
  text-align: center;
  margin: 40px;
}
h1{
  margin:0;
  font-weight: 600;
  color: #ffff;
}
.container{
  width: 1000px;
  max-width: 100%;
  padding:30px;
  margin:0 auto;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
#add-task{
  display: flex;
  flex-direction: column;
  width: 450px;
  border-radius:10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}
form h2{
  margin:0 10px 20px;
  text-align: center;
}
form label{
  font-size: 17px;
  font-weight:500;
}

form #description{
  padding: 20px;
  margin-bottom: 30px;
  font-size:17px;
}

form input,form select{
  padding:10px;
  font-size:17px;
  margin-bottom: 30px;
}
form input:focus,form select:focus{
  outline: none;
}

button{
  padding: 20px 36px;
  width: 100%;
  font-size:20px;
  border: none;
  border-radius:8px;
  background-color: green;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
}
.task{
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
  padding: 12px;
  width: 350px;
  background-color: #fff;
  border-radius: 6px;
  margin: 20px;
}

form input[type="checkbox"]{

  padding: 6px;
}
#delete{
  background-color:red;
  width: 50%;
  margin: 20px;
}